<configuration>
<system.webServer>
<staticContent>
<remove fileExtension = ".eot" />
<mimeMap fileExtension = ".eot" mimeType = "application/vnd.ms-fontobject" />
<remove fileExtension = ".ttf" />
<mimeMap fileExtension = ".ttf" mimeType = "application/octet-stream" />
<remove fileExtension = ".svg" />
<mimeMap fileExtension = ".svg" mimeType = "image/svg+xml" />
<remove fileExtension = ".woff" />
<mimeMap fileExtension = ".woff" mimeType = "application/font-woff" />
</staticContent>
<defaultDocument>
<files>
<clear />
<add value = "index.php" />
<add value = "index.html" />
<add value = "index.htm" />
</files>
</defaultDocument>
</system.webServer>
<system.data>
<DbProviderFactories>
<remove invariant = "System.Data.SqlServerCe.4.0" />
<add invariant = "System.Data.SqlServerCe.4.0" name = "Microsoft® SQL Server® Compact 4.0" description = ".NET Framework Data Provider for Microsoft SQL Server Compact" type = "System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
</DbProviderFactories>
</system.data>
</configuration>